
###> symfony/framework-bundle ###
/.env.*
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###
/.idea/modules.xml
/.idea/dbnavigator.xml
/.idea/commandlinetools/schemas/frameworkDescriptionVersion1.1.4.xsd
/.idea/php.xml
/.idea/phpunit.xml
/.idea/SiteED4R.iml
/.idea/commandlinetools/Symfony_4_25_25__10_17AM.xml
/.idea/vcs.xml
/.idea/workspace.xml
