{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    <h1>Réinitialisation du mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}

    <div class="password-requirements">
        <p>Votre mot de passe doit :</p>
        <ul>
            <li>Comporter au moins 8 caractères</li>
            <li>Contenir au moins une lettre majuscule</li>
            <li>Contenir au moins une lettre minuscule</li>
            <li>Contenir au moins un chiffre</li>
            <li>Contenir au moins un caractère spécial (@$!%*?&)</li>
        </ul>
    </div>
        <button class="btn btn-primary">Réinitialiser le mot de passe</button>
    {{ form_end(resetForm) }}
{% endblock %}
