{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom de la catégorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_sortie in type_sorties %}
            <tr>
                <td>{{ type_sortie.libelle }}</td>
                <td>
                    <a href="{{ path('app_type_sortie_edit', {'id': type_sortie.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_type_sortie_new') }}">Ajouter une nouvelle catégorie</a>
{% endblock %}
