<form method="post" action="{{ path('app_moniteur_delete', {'id': moniteur.id}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer ce moniteur?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ moniteur.id) }}">
    <button class="btn">Supprimer</button>
</form>
