{% extends 'base.html.twig' %}

{% block title %}Modifier une compétition{% endblock %}

{% block body %}
    <h1>Modifier la competition : {{ competition.titre }}</h1>

    {{ include('competition/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_competition_index') }}">Retour à la liste</a>

    {{ include('competition/_delete_form.html.twig') }}
{% endblock %}
