<form method="post" action="{{ path('app_cheval_delete', {'id': cheval.id}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer le cheval?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cheval.id) }}">
    <button class="btn">Supprimer</button>
</form>
