{% extends 'base.html.twig' %}

{% block title %}Modifier Cheval{% endblock %}

{% block body %}
    <h1>Modifier les informations du cheval</h1>

    {{ include('cheval/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_cheval_index') }}">Retour à la liste</a>

    {{ include('cheval/_delete_form.html.twig') }}
{% endblock %}
