{% extends 'base.html.twig' %}

{% block title %}Nouveau Cheval{% endblock %}

{% block body %}
    <h1>Ajouter un Cheval</h1>

    {{ include('cheval/_form.html.twig') }}

    <a href="{{ path('app_cheval_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
