{% extends 'base.html.twig' %}

{% block title %}nouvelle prestation{% endblock %}

{% block body %}
    <h1>Ajouter une nouvelle prestation</h1>

    {{ include('ecurie_proprietaire/_form.html.twig') }}

    <a href="{{ path('app_ecurie_proprietaire_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
