{% extends 'base.html.twig' %}

{% block title %}Edit Niveau{% endblock %}

{% block body %}
    <h1>Modifier un Niveau</h1>

    {{ include('niveau/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_niveau_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>


{% endblock %}
